<h1>CustomBurger étterem</h1>

<article id="about" class="mt-4 p-5 rounded article__about">
  <div class="article-body p-2">
    <h2>Bemutatkozás</h2>
    <p>
      2023 óta várjuk vendégeinket éttermünkben. 
      Olyan speciális étlapunk és koncepciónk van, ami mindenki tetszését elnyeri. 
      Az előre összeállított hamburgerek helyett itt mindenki szabadon válogathatja össze a maga kedvencét.</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at facilisis sapien, eget condimentum risus. 
      Phasellus varius varius dui, a eleifend nisi varius quis. Donec sodales pharetra turpis. Aenean et lectus nec nisl maximus tempus. 
      Sed dignissim condimentum mi vel gravida. Duis in tempus neque. Duis semper, sem ut posuere tristique, nulla augue blandit turpis, et dictum velit nibh at felis. 
      Suspendisse placerat maximus eros id placerat. Nam arcu ligula, condimentum et vehicula vitae, aliquam ac mauris. 
    </p>
    <p>
      Morbi vulputate ligula sem, id vulputate sem ornare sit amet. Sed semper arcu vitae dolor euismod ultricies. 
      Ut tempor porta luctus. Vivamus non tempus dui, vel suscipit risus. Suspendisse luctus lobortis elit feugiat rhoncus. 
      Fusce purus metus, porttitor vitae est sed, lacinia pharetra velit. Duis consectetur in sapien vitae rhoncus. 
      Mauris ac mollis tortor, nec consequat risus. Etiam varius magna tortor, eu porta ipsum vestibulum ut. 
    </p>      
  </div>
</article>

<article id="burgers" class="mt-4 p-5 rounded article__burgers">
  <h2>Ajánlatunk</h2>
  <div class="row">
    <div class="card col-12 col-md-4">
      <img src="/assets/img/pexels-anna-tukhfatullina-food-photographerstylist-2702674.jpg" class="card-img-top" alt="Sajtburger">
      <div class="card-body">
        <h4 class="card-title">Sajtburger</h4>
        <p>
          <span>Szezámmagos buci</span> |
          <span>Big Mac szósz</span> |
          <span>Fejes saláta</span> |
          <span>Marhahús pogácsa - 10dkg</span> |
          <span>Sajtszósz</span> |
          <span>Csemegeuborka</span> |
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Megrendelem</a>
      </div>
    </div>
    <div class="card col-12 col-md-4">
      <img src="/assets/img/pexels-dana-tentis-552056.jpg" class="card-img-top" alt="BBQ">
      <div class="card-body">
        <h4 class="card-title">BBQ</h4>
        <p>
          <span>Szezámmagos buci</span> |
          <span>Lilahagyma lekvár</span> |
          <span>Marhahús pogácsa - 20dkg</span> |
          <span>Vörös cheddar</span> |
          <span>Bacon szelet</span> |
          <span>Csemegeuborka</span> |
          <span>Paradicsom</span> |
          <span>BBQ szósz</span> |
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Megrendelem</a>
      </div>
    </div>
    <div class="card col-12 col-md-4">
      <img src="/assets/img/pexels-engin-akyurt-2271099.jpg" class="card-img-top" alt="Retro">
      <div class="card-body">
        <h4 class="card-title">Retro</h4>
        <p>
          <span>Retro buci</span> |
          <span>Ketchup</span> |
          <span>Fejes saláta</span> |
          <span>Marhahús pogácsa - 10dkg</span> |
          <span>Trappista</span> |
          <span>Lilahagyma</span> |
          <span>Csemegeuborka</span> |
          <span>Paradicsom</span> |
          <span>Majonéz</span> |
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Megrendelem</a>
      </div>
    </div>
    <div class="card col-12 col-md-4">
      <img src="/assets/img/pexels-shameel-mukkath-5175579.jpg" class="card-img-top" alt="BLT">
      <div class="card-body">
        <h4 class="card-title">BLT</h4>
        <p>
          <span>Szezámos buci</span> |
          <span>Fejes saláta (5)</span> |
          <span>Marhahús pogácsa - 10dkg</span> |
          <span>Bacon szelet (5)</span> |
          <span>Paradicsom (5)</span> |
          <span>Kapros hamburgerszósz</span> |
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Megrendelem</a>
      </div>
    </div>  
    <div class="card col-12 col-md-4">
      <img src="/assets/img/pexels-thiago-miranda-9588852.jpg" class="card-img-top" alt="Magyaros">
      <div class="card-body">
        <h4 class="card-title">Magyaros</h4>
        <p>
          <span>Retro buci</span> |
          <span>Lecsószósz</span> |
          <span>Marhahús pogácsa - 15dkg</span> |
          <span>Trappista</span> |
          <span>Tükörtojás</span> |
          <span>Lilahagyma</span> |
          <span>Kolbászkarikák - csípős</span> |
          <span>Paradicsom</span> |
          <span>Lilahagyma</span> |
          <span>Kovászos uborka</span> |
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Megrendelem</a>
      </div>
    </div>  
  </div>
</article>

<article id="contact" class="mt-4 p-5 rounded article__contact">
  <div class="article-body p-2">
    <h2>Elérhetőségünk</h2>
    <div class="row">
      <div class="col-12 col-md-6">
        <h4>Cím:</h4>
        <p>
          Budapest, Budafoki út 56, 1117
        </p>
        <h4>Nyitvatartás:</h4>
        <ul class="list-group bg-transparent">
          <li class="list-group-item text-white bg-transparent"><strong>H-P:</strong> 11:00 - 22:00</li>
          <li class="list-group-item text-white bg-transparent"><strong>Szo:</strong> 11:00 - 24:00</li>
          <li class="list-group-item text-white bg-transparent"><strong>V:</strong> 11:00 - 20:00</li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <iframe
          width="100%"
          height="100%"     
          style="border:0"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          src="https://maps.google.com/maps?q=Training%20360%20Kft&t=&z=13&ie=UTF8&iwloc=&output=embed">
        </iframe>
      </div>
    </div>
  </div>
</article>

<article id="order" class="mt-4 p-5 rounded article__order">
  <h2>Rendelés</h2>
  <div class="d-grid">
    <button class="btn btn-primary">Rendelés leadása</button>
  </div>
</article>