<div class="container-fluid">
  <app-navigation></app-navigation>
</div>

<div class="container container__main">
  <router-outlet></router-outlet>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <i class="fa fa-exclamination me-2 text-danger"></i>
      <strong class="me-auto text-danger">Error</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Unknown Error
    </div>
  </div>
</div>
