<table class="table">
  <thead>
    <tr>
      <th *ngFor="let col of columns">{{ col.title }}</th>
      <th *ngIf="editButton"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of currPageItems()">
      <td *ngFor="let col of columns">
        <input *ngIf="col.display != undefined && col.display === Displays.Checkbox" class="form-check-input" type="checkbox" readonly [checked]="item[col.key]">
        <a *ngIf="col.display != undefined && col.display === Displays.Email" [href]="'mailto:' + item[col.key]">{{ item[col.key] }}</a>
        <a *ngIf="col.display != undefined && col.display === Displays.Phone" [href]="'tel:' + item[col.key]">{{ item[col.key] }}</a>
        <span *ngIf="col.display === undefined"> {{ col.format ? col.format(item[col.key]) : item[col.key] }}</span>
      </td>
      <td *ngIf="editButton">
        <button class="btn btn-sm btn-outline-primary" (click)="onEditButtonClick(item)" title="Edit"><i class="fa fa-pencil"></i></button>
      </td>
    </tr>
  </tbody>
</table>
<dc-pager *ngIf="pager" [pageSize]="pageSize" [currPage]="currPage" [itemsCount]="(items) ? items.length : 0" (pageChanged)="onChangePage($event)">
</dc-pager>